/* Main Colors */
$black : hsla(0,0%,0%,1);
$white : hsla(0,100%,100%,1);

$blue1 : hsla(220,54%,27%,1);
$blue2 : hsla(220,67%,33%,1);
$blue3 : hsla(220,52%,44%,1);
$blue4 : hsla(220,48%,59%,1);
$blue5 : hsla(220,52%,73%,1);

$grey1 : hsla(220,54%,27%,1);
$grey2 : hsla(220,67%,33%,1);
$grey3 : hsla(220,52%,44%,1);
$grey4 : hsla(220,48%,59%,1);
$grey5 : hsla(220,52%,73%,1);
