@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Lobster');

$headerFont: 'Lobster', cursive;
$bodyFont: 'EB Garamond', 'Garamond', serif;

$baseFontSize: 22px;
$lineHeight: 1.5;
$scaleRoot: (5/4);
$lineDivisions: 2;

$imageFolder: "/resources/images/";
