.hero
{
  display: flex;
  height: line-measure(10);
  margin-bottom: line-measure(0.5);

  border-top: 3px solid $black;
  border-bottom: 3px solid $black;

  .hero-image
  {
    width: 80%;
    padding: line-measure(0.5);

    img
    {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .hero-side
  {
    display: flex;
    flex-direction: column;
  }

  .hero-text
  {
    margin-top: line-measure(0.5);
    h1
    {
      color: $white;
    }
    color: $white;
    text-align: center;

    flex-grow: 1;
  }

  .hero-seemore
  {
    padding: line-measure(0.5);
    height: line-measure(3);

    flex-grow: 0;

    img
    {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: right;
    }
  }
}

a.hero-link
{
    &, &:link, &:visited, &:hover, &:active
    {
      text-decoration: none;
    }
}
