html
{
  height: 100%;
}

body
{
  background-image: url(/resources/images/circles-light.png);
  height: 100%;
}

.frame
{
  width: 100%;
  max-width: 960px;
  position: relative;
  z-index: 5;
  margin-left: auto;
  margin-right: auto;
  margin-top: line-measure(0.5);
  margin-bottom: line-measure(0.5);

  border-top: $blue1 solid 5pt;
  border-bottom: $blue1 solid 5pt;
  border-right: $black solid 2px;
  border-left: $black solid 2px;
  background-color: $white;

  box-shadow: 3px 3px $shadow;

}

main
{
  margin-top: line-measure(0.5);

  & > p
  {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
  }

}

.pageFooter
{

  text-align: center;
  color: $blue4;
  position: relative;

  .social-media
  {
    position: absolute;
    top: 0;
    right: 0;
    menuitem
    {
      margin-right: 1rem;
    }
    img
    {
      height: line-measure(1);
    }
  }
}

.callToAction
{
  display: block;
  width: 100%;
  text-align: center;

  font-family: $headerFont;

  @include font-modular-scale(2);
}
