---
  layout: main
---
{{ content }}
<menu class="archive">
  {% assign collection = site[page.collection] | sort: page.sort.by %}
  {% if page.sort.descending %}
    {% assign collection = collection | reverse %}
  {% endif %}
  {% for item in collection %}
    <a href="{{item.url}}">
      <menuitem>
        <h2>{{item.title}}</h2>
        {% capture root %}{{site.data.resources.imgRoot}}/{{page.archive-root}}{% endcapture %}
        {% include picture.html picture=item.archive-picture root=root %}
        {{item.excerpt}}
      </menuitem>
    </a>
  {% endfor %}
</ul>
