---
  layout: main

  comingSoon:
    altText: Coming Soon
    titleText: Coming Soon

    defaultImage: coming-soon.png

    imageSources:
      -
        srcset: coming-soon.svg
        media: ""
        type: "image/svg"
---
{{ content }}
<menu class="archive">
  {% assign collection = site[page.collection] | sort: page.sort.by %}
  {% if page.sort.descending %}
    {% assign collection = collection | reverse %}
  {% endif %}
  {% for item in collection %}
    <a
      {% unless item.coming-soon %}
        href="{{item.url}}"
      {% endunless %}
      >
      <menuitem>
        <h2>{{item.title}}</h2>
        {% capture root %}{{site.data.resources.imgRoot}}/{{page.archive-root}}{% endcapture %}
        <div class="archive-banner" style="background-color: {{item.color}}">
          {% include picture.html picture=item.archive-picture root=root class="" %}
        </div>
        {{item.excerpt}}
        {% if item.coming-soon %}
          {% capture iconRoot %}{{site.data.resources.imgRoot}}{{site.data.resources.iconRoot}}{% endcapture %}
          {% include picture.html picture=layout.comingSoon root=iconRoot class="coming-soon" %}
        {% endif %}
      </menuitem>
    </a>
  {% endfor %}
</ul>
