---
  layout: main
---
{{ content }}

<ul class="features">
  {% for feature in page.features %}
    <li>
      <div>
        <h2>{{feature.title}}</h2>
        <p>{{feature.text}}</p>
      </div>
      <picture>
        {% for source in feature.imageSources %}
          <source srcset="{{site.data.resources.imgRoot}}/feature-images/{{page.slug}}/{{source.srcset}}" media="{{source.media}}" type="{{source.type}}" />
        {% endfor %}
        <img src="{{site.data.resources.imgRoot}}/feature-images/{{page.slug}}/{{feature.defaultImage}}" alt="{{feature.title}}" title="{{feature.title}}" />
      </picture>
    </li>
  {% endfor %}
</ul>
