---
  layout: main

  seemore:
    altText: "See More"
    titleText: "See More"

    defaultImage: seemore.png
    imageSources:
      -
        srcset: seemore.svg
        media: ""
        type: "image/svg"

---
{% capture root %}{{site.data.resources.imgRoot}}/series/{% endcapture %}
{% assign series = site.series | where: 'name', page.featured-series | first  %}
<a href="{{series.lulu-link}}" class="hero-link">
  <div class="hero" style="background-color: {{series.color}}">
    <div class="hero-image">
      {% include picture.html picture=series.archive-picture root=root class="" %}
    </div>
    <div class="hero-side">
      <div class="hero-text">
        <h1>{{series.title}}</h1>
        {{series.content}}
      </div>
      <div class="hero-seemore">
        {% capture iconRoot %}{{site.data.resources.imgRoot}}{{site.data.resources.iconRoot}}{% endcapture %}
        {% include picture.html picture=layout.seemore root=iconRoot class="" %}
      </div>
    </div>

    <menu class="home-books">
      {% capture coverRoot %}{{site.data.resources.imgRoot}}{{site.data.resources.coverRoot}}{{book.slug}}{% endcapture %}
      {% for book in series.books %}
        <menuitem>
          {% include picture.html picture=book.cover root=coverRoot %}
          <span>{{book.title}}</span>
        </menuitem>
      {% endfor %}
    </menu>

  </div>
</a>
{{content}}
