---
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>EE Williams - Theology For All</title>

    <style type="text/css">
      @import url(/resources/css/styles.css);
    </style>
  </head>

  <body>
      <div class="frame">
        <header class="masthead">
          <a href="/">
            <picture class="logo">
              <source src="{{ site.data.resources.imgRoot }}logos/logo.svg" />
              <img src="{{ site.data.resources.imgRoot }}logos/logo.png" alt="EE Williams - Theology for All" title="EE Williams - Theology for All" />
            </picture>
          </a>
          <menu class="contactInfo">
            <menuitem class="mastheadContact email"><a href="mailto:ee@williams.ee">ee@williams.ee</a></menuitem>
            <menuitem class="mastheadContact url"><a href="/">ee.williams.ee</a></menuitem>
          </menu>

          <div class="slugBar">
            <p>Flexible resources to help parents and leaders of Children's, Youth, and Student groups in ministry</p>
          </div>
          <nav class="primaryNav">
            <menu>
              <menuitem><a href="/about">About Us</a></menuitem>
              <menuitem><a href="/books">Our Books</a></menuitem>
              <menuitem><a href="/series">Our Series</a></menuitem>
            </menu>
          </nav>
        </header>

        <main>
          <h1>{{page.title}}</h1>
          {{content}}
          {% if page.callToAction %}
            <span class="callToAction"><a href="{{page.callToAction.url}}">{{page.callToAction.text}}</a></span>
          {% endif %}
        </main>

        <footer class="pageFooter">
          <p>©EE Williams 2018. All Rights Reserved.</p>

          <menu class="social-media">
            {% capture iconRoot %}{{site.data.resources.imgRoot}}{{site.data.resources.iconRoot}}{% endcapture %}
            {% for item in site.data.resources.social-media %}
              <menuitem>
                <a href="{{item.url}}">
                  {% include picture.html picture=item.icon root=iconRoot %}
                </a>
              </menuitem>
            {% endfor %}
        </footer>
      </div>
  </body>
</html>
